</div>
<footer class="footer">
<% if (config.author) { %>
<span class="left">Created by: <%= config.author %></span>
<% } %>
<% if (config.status) { %>
 <% if (path !== "/status") { %>
  <a href="/status">Status</a>
  <span> | </span>
<% } %>
<% } %>
<% if (config.aurhor_website) { %>
<a href="/author" target="_blank">Author</a>
<% } %>
<span> | </span>
<a href="/contact" target="_blank">Contact Us</a>
<span> | </span>
<% if (github) { %>
<a href="/github" target="_blank">Github</a>
<% } %>
</footer>
<script src="https://<%= domain %>/js/index.js"></script>
</body>
</html>
