ul,
li {
 margin: 0;
 list-style-type: none;
}

input {
 border: none;
 outline: none;
}

select {
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid #4b4f58 !important;
 border: 0px;
 padding: 5px;
 color: #fff;
 transition: 300ms all;
 outline: none;
 border-radius: 3px;
}
option {
 background: var(--navbar);
}

input:disabled,
textarea:disabled,
select:disabled {
 opacity: 0.3;
 cursor: not-allowed;
}

textarea {
 border: none;
 outline: none;
 max-width: 100%;
 min-width: 100%;
 resize: vertical;
 max-height: 200px;
}

input:focus,
textarea:focus {
 border-color: #5865f2 !important;
}

select:focus-within {
 border: 1px solid rgb(88, 101, 242) !important;
}

iframe {
 border: none !important;
}

.container {
 max-width: 1200px;
}

.container-contact {
 z-index: 1;
 width: 100%;
 display: flex;
 padding: 15px;
 flex-wrap: wrap;
 font-family: "Poppins";
 background: 0 0;
 min-height: 100vh;
 position: relative;
 align-items: center;
 justify-content: center;
}

.contact-map {
 top: 0;
 left: 0;
 z-index: -2;
 width: 100%;
 height: 100%;
 position: absolute;
}

.wrap-contact {
 position: relative;
 border-radius: 10px;
 font-family: "Poppins";
 padding: 82px 180px 33px;
}

.contact-form {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 padding-bottom: 68px;
 justify-content: space-between;
 background: #1e2125;
 /* margin-top: 10%; */
 padding: 5%;
 border-radius: 10px;
 font-weight: 300;
}

.contact-form-title::after {
 content: "Contact Us";
}

.contact-form-title {
 width: 100%;
 color: #fff;
 display: block;
 font-size: 39px;
 font-weight: 700;
 font-family: "Poppins";
 line-height: 1.2;
 text-align: left;
 padding-bottom: 44px;
 font-family: var(--font3);
}

.wrap-input {
 width: 100%;
 position: relative;
 margin-bottom: 30px;
}

.rs1-wrap-input {
 width: calc((100% - 30px) / 2);
}

.label {
 color: #fff;
 font-size: 15px;
 font-weight: 400;
 line-height: 1.5;
 padding-left: 5px;
}

input {
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid #4b4f58;
 transition: 300ms all;
 padding: 10px;
 font-family: poppins;
 border-radius: 3px;
 width: 100%;
 height: 40px;
 font-size: 16px;
 color: #dcddde;
 outline: none;
}

textarea {
 padding-top: 9px;
 margin-top: 10px;
 min-height: 110px;
 border-radius: 5px;
 padding-bottom: 13px;
 font-weight: 300;
 font-family: Poppins;
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid #4b4f58;
 transition: 300ms all;
 padding: 10px;
 width: 100%;
 height: 40px;
 font-size: 16px;
 color: #dcddde;
 outline: none;
}

.container-contact-form-btn {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 margin-top: -25px;
}

.contact-form-btn {
 height: 50px;
 color: #fff;
 display: flex;
 font-size: 16px;
 padding: 0 20px;
 line-height: 1.2;
 min-width: 160px;
 transition: all 0.5s;
 border-radius: 25px;
 align-items: center;
 justify-content: center;
 box-shadow: 0 10px 10px 0 #0000000f;
 background: linear-gradient(150deg, #3f3b44, #3c3748);
}

.contact-form-btn:hover {
 box-shadow: 0 10px 10px 0 #1f1d2275;
}

.contact-form-btn:hover i {
 transform: translateX(10px);
}

@media (max-width: 992px) {
 .wrap-contact {
  padding: 82px 80px 33px;
 }
}

@media (max-width: 768px) {
 .rs1-wrap-input {
  width: 100%;
 }
}

@media (max-width: 576px) {
 .wrap-contact {
  padding: 82px 15px 33px;
 }
 .container-contact {
  display: inherit;
 }
 .contact-form-title::after {
  font-size: 35px;
  font-weight: 600;
  content: "Contact Us";
 }
}

.validate-input {
 position: relative;
}

.alert-validate::before {
 top: 58%;
 right: 2px;
 opacity: 0;
 max-width: 70%;
 font-size: 13px;
 color: #c80000;
 line-height: 1.4;
 text-align: left;
 visibility: hidden;
 position: absolute;
 border-radius: 2px;
 pointer-events: none;
 background-color: #fff;
 transition: opacity 0.4s;
 padding: 4px 25px 4px 10px;
 transform: translateY(-50%);
 border: 1px solid #c80000;
 content: attr(data-validate);
}

.contact-more {
 color: #757184;
 font-size: 14px;
 line-height: 1.5;
}

.contact-more-highlight {
 color: #8a7b9d;
}

body.full-screen .wrap-contact {
 width: 100%;
 height: 100%;
}

body.full-screen .container-contact {
 padding: 0;
 width: 100%;
 height: 100%;
}

body.done form > div {
 display: none !important;
}

body.done .contact-form-title::after {
 content: "Your message was sent!" !important;
}

#captcha {
 color: #fa2727;
}
