.support-server-container {
 padding: 16px;
 margin: 8px;
 border-radius: 5px;
 background-color: rgba(88, 101, 242, 0.2);
 border: 1px solid RGBA(88, 101, 242, 0.4);
}

.support-server-header {
 color: #fff;
 margin-top: 0;
 margin-bottom: 8px;
 font-size: 18px;
 font-family: "Poppins";
}

.support-server-text {
 margin: 0;
 font-size: 14px;
 font-family: "Poppins";
 color: #aeaeae;
}
