<div class="sidenav"></div>
<style>
.sidenav {
display: flex;
flex-direction: column;
height: 100%;
width: 240px;
position: fixed !important;
overflow-y: auto;
transition: all .3s ease-in-out;
z-index: 9998;
background-color: var(--navbar);
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.content {
max-width: unset;
margin: 0 auto;
margin-left: 240px;
margin-top: 60px;
}

.left {
margin-left: 240px;
}
</style>