module.exports = {
 // Main config
 author: "",
 aurhor_website: "",
 owner_id: "",
 description: "",
 support_server: "",
 status: "",
 twitter: "",
 github: "",
 github_repo: "",
 about_bot: "",
 about_dev: "",
 donation_perks: "",
 patreon: "",
 ko_fi: "",
 open_collective: "",
 scopes: "",
 permissions: "",
 verification: "",
 suggestions_channel: "",
 bot_news_title: "",
 news: "",
 brainid: process.env.BRAINID,
 brainkey: process.env.BRAINKEY,
 prefix: process.env.PREFIX,
 youtube: process.env.YOUTUBE,
 id: process.env.ID,

 // Dashboard config
 domain: process.env.DOMAIN,
 certs: false,
 localhost: false,
 google_analitics: process.env.ANALYTICS,
 client_secret: process.env.SECRET,
 port: process.env.PORT,
 session_secret: process.env.SESSION_SECRET,
 dashboard: process.env.DASHBOARD,
 cookies: process.env.COOKIES,
 mobile_support: "false",
 image: "banner.jpg",
 verification: "",
};
