module.exports = {
 success: "",
 error: "",
 anger: "",
 giveaway: "",
 discord_logo: "",
 member: "",
 channel: "",
 role: "",
 stage_channel: "",
 rules_channel: "",
 boosts_animated: "",
 discord_badges: "",
 status_online: "",
 status_idle: "",
 status_dnd: "",
 status_offline: "",
 verified_badge: "",
 cpu_icon: "",
 drive_icon: "",
 ram_icon: "",
 discord_partner: "",
 owner_crown: "",
 emoji_bar_1: "",
 emoji_bar_2: "",
 bot_badge_small: "",
 bot_badge_part_1: "",
 bot_badge_part_2: "",
 open_collective_logo: "",
 parteon_logo: "",
 kofi_logo: "",
};
