@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@plugin "@tailwindcss/typography";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background-primary: #101110;
  --color-background-secondary: #161617;
  --color-background-navbar: #161617;
  --color-background-menu: #161617;
  --color-background-menu-button: #212120;
  --color-accent-primary: #5865f2;
  --color-button-primary: #5865f2;
  --color-button-primary-hover: #4651c2;
  --color-button-secondary: #1e1e1e;
  --color-button-secondary-hover: #2f2e2e;
  --color-button-action-primary: #ea4d4d;
  --color-button-action-hover: #bb3e3e;
  --color-transparent: transparent;

  --background-image-main-gradient: linear-gradient(180deg, #101110 calc(100% - 400px), #161617 100%);

  --animate-shiny-text: shiny-text 8s infinite;
  --animate-border-beam: border-beam calc(20s) infinite linear;
  --animate-meteor: meteor 5s linear infinite;
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes loader {
    0% {
      height: 0.5rem;
      opacity: 0.2;
    }
    50% {
      height: 1rem;
      opacity: 1;
    }
    100% {
      height: 0.5rem;
      opacity: 0.2;
    }
  }

  @keyframes blinking {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-neutral-800
   outline-neutral-700/50;
    scrollbar-color: var(--color-secondary) transparent;
    scrollbar-width: thin;
  }

  :root {
    --chart-1: 158.66 60.82% 51.96%;
    --chart-2: 220 70% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-6: 160 60% 45%;

    --chart-blue: 228 100% 65%;
    --chart-red: 0 100% 65%;
  }

  html {
    @apply scroll-smooth overflow-auto!;
  }

  body[data-scroll-locked] {
    @apply mr-0!;
  }
}

@utility text-fill-* {
  -webkit-text-fill-color: --value(--color-*);
}

* {
  @apply box-border;
  scrollbar-color: #262626 transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.show-scrollbar::-webkit-scrollbar {
  @apply block;
}

.show-scrollbar {
  scrollbar-width: inherit;
}

img.twemoji {
  @apply relative top-[-0.1rem] inline-block h-[1em] w-[1em] align-middle;
}

main > div {
  @apply w-full;
}

.lucide {
  @apply stroke-[1.5];
}

canvas {
  @apply ml-auto flex items-center;
}

code {
  @apply bg-background-secondary inline rounded-md border border-neutral-800 px-2 py-1;
}
