@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 @apply m-0 scroll-smooth p-0  antialiased transition-[background-color] duration-300 motion-reduce:transition-none;
}

html {
 @apply !overflow-auto !pr-0;
}

* {
 @apply box-border;
 scrollbar-color: #08152b transparent;
 scrollbar-width: thin;
}

.hide-scrollbar::-webkit-scrollbar {
 @apply hidden;
}

.hide-scrollbar {
 scrollbar-width: none;
}

::-webkit-scrollbar {
 @apply w-[10px];
}

::selection {
 @apply bg-accent-primary/20;
}

img.twemoji {
 @apply relative top-[-0.1rem] inline-block h-[1em] w-[1em] align-middle;
}

main > div {
 @apply w-full;
}

.custom-bg::after {
 background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 97% 21%, hsla(256, 98%, 72%, 1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(133, 96%, 67%, 1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%), radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
 filter: blur(100px) saturate(150%);
}

canvas {
 @apply flex items-center ml-auto;
}
