@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 @apply m-0 scroll-smooth p-0 antialiased transition-[background-color] duration-300 motion-reduce:transition-none;
}

html {
 @apply !overflow-auto !pr-0;
}

* {
 @apply box-border;
 scrollbar-color: #262626 transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 @apply w-[10px];
}

::-webkit-scrollbar-track {
 @apply bg-background-primary rounded-xl;
}

::-webkit-scrollbar-thumb {
 @apply rounded-xl bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
 @apply bg-neutral-600;
}

::-webkit-scrollbar-thumb:active {
 @apply bg-neutral-500;
}

.hide-scrollbar::-webkit-scrollbar {
 @apply hidden;
}

.hide-scrollbar {
 scrollbar-width: none;
}

.show-scrollbar::-webkit-scrollbar {
 @apply block;
}

.show-scrollbar {
 scrollbar-width: inherit;
}

::selection {
 @apply bg-accent-primary/20;
}

#nprogress {
 @apply pointer-events-none;
}

#nprogress .bar {
 @apply fixed left-0 top-0 !z-[99999] h-[4px] w-full;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
 @apply absolute;
}

[data-theme~="translucent"] {
 @apply backdrop-blur-[5px] motion-reduce:transition-none;
}

.tippy-backdrop {
 @apply !bg-neutral-700 !bg-opacity-[0.7];
}

img.twemoji {
 @apply relative top-[-0.1rem] inline-block h-[1em] w-[1em] align-middle;
}

main > div {
 @apply w-full;
}

.custom-bg::after {
 background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 97% 21%, hsla(256, 98%, 72%, 1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(133, 96%, 67%, 1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%), radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
 filter: blur(100px) saturate(150%);
}

canvas {
 @apply ml-auto flex items-center;
}

code {
 @apply bg-background-secondary inline-block rounded-md border border-neutral-800 px-2 py-1;
}

.from-black-10\/50 {
 --tw-gradient-from: rgba(0, 0, 0, 0.5) var(--tw-gradient-from-position);
 --tw-gradient-to: transparent var(--tw-gradient-to-position);
 --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

[data-sonner-toaster][data-theme="dark"] {
 --normal-bg: rgb(22, 22, 23) !important;
 --normal-border: rgb(38, 38, 38) !important;
 --normal-text: rgb(255, 255, 255) !important;
 --success-bg: rgb(22, 41, 31) !important;
 --success-border: rgb(34, 197, 94) !important;
 --success-text: rgb(255, 255, 255) !important;
 --info-bg: rgb(27, 33, 47) !important;
 --info-border: rgb(59, 130, 246) !important;
 --info-text: rgb(255, 255, 255) !important;
 --warning-bg: rgb(44, 37, 22) !important;
 --warning-border: rgb(245, 158, 11) !important;
 --warning-text: rgb(255, 255, 255) !important;
 --error-bg: rgb(44, 26, 29) !important;
 --error-border: rgb(239, 68, 68) !important;
 --error-text: rgb(255, 255, 255) !important;
}
