img {
 max-width: 100%;
 width: 100%;
 height: auto;
 border-radius: 0.6em;
}

@keyframes hover {
 0% {
  top: 0px;
 }
 50% {
  top: 50px;
 }
 100% {
  top: 0px;
 }
}

.content-container {
 width: 90%;
 margin-bottom: 250px !important;
 padding: 0 20px;
 margin: 0 auto;
}

.product-row {
 padding: 120px 0 0;
 height: 60vh;
 -webkit-box-align: center;
 align-items: center;
}

.product-row .product-image {
 width: 70%;
 margin: 0 auto;
 animation: cards_animation 3500ms ease-in-out infinite;
}

@keyframes cards_animation {
 0% {
  -webkit-transform: translatey(+0px);
  transform: translatey(0px);
 }
 50% {
  -webkit-transform: translatey(+30px);
  transform: translatey(+30px);
 }
 100% {
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
 }
}

.product-row .product-text {
 background: transparent;
 width: 90%;
 margin: 10px auto;
 font-family: "Poppins";
 text-align: center;
}

.product-row .product-title {
 font-size: 30px;
 color: #ffffff;
 font-weight: 700;
}

.product-row .product-text {
 color: #b5b5b5;
}

.product-row p {
 line-height: 1.5;
 font-size: 20px;
}

.product-row {
 margin: 1em 0;
}

.product-row::after {
 content: "";
 display: block;
 clear: both;
 float: none;
}

.product-row:nth-child(odd) {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
 flex-direction: row-reverse;
}

@media only screen and (min-width: 800px) {
 .product-row:nth-child(odd) .product-image {
  padding-left: 5%;
  padding-right: 0;
 }
 .product-row {
  display: -webkit-box;
  display: flex;
  margin-bottom: 0;
  min-height: 380px;
  -webkit-box-align: center;
  align-items: center;
 }
 .product-row .product-image {
  width: 55%;
  float: left;
  -webkit-box-flex: 1;
  flex: 1 1 55%;
  padding-right: 5%;
  max-width: 55% !important;
  min-width: 320px;
 }
 .product-row .product-text {
  position: relative;
  width: 45%;
  text-align: left;
  float: right;
  -webkit-box-flex: 1;
  flex: 1 1 45%;
  max-width: 45%;
 }
 .product-row .product-text {
  margin-right: 1em;
 }
}

.more-header {
 font-size: 40px;
 color: #ffffff;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
 font-family: "Poppins";
 padding: 0;
 margin: 0;
}

.yellow-gradient {
 background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
}

.more-text {
 color: #ffffff;
 font-weight: 500;
 text-align: center;
 font-family: "Poppins";
 font-size: 18px;
}

.center-button {
 margin: 10px auto;
 display: flex;
 align-content: center;
 text-align: center;
 flex-direction: column;
 align-items: center;
 max-width: 220px;
}

.blue {
 background-color: rgb(88, 101, 242);
}

.blue:hover {
 background-color: rgb(71, 83, 197);
}
