@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
.brand_new_avatar {
 float: right;
 box-shadow: 0 0px 60px rgba(77, 160, 255, 0.17);
 animation: pulse_green 4s infinite;
 height: 214px;
 transition: 200ms;
 width: 214px;
}

.brand_new_avatar:active {
 box-shadow: 0 0px 60px rgba(201, 241, 255, 0.2) !important;
}
.brand_new_hero_small_title {
 text-transform: uppercase;
 font-family: "Poppins";
 font-size: 20px;
 font-weight: 800;
 margin: 0;
 line-height: 1em;
}

@keyframes pulse_green {
 0% {
  transform: scale(0.95);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.17);
 }
 70% {
  transform: scale(1.05);
  box-shadow: 0 0px 60px rgba(0, 0, 0, 0.17);
 }
 100% {
  transform: scale(0.95);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.17);
 }
}

.brand_new_hero_section {
 display: flex;
 width: 100%;
 align-items: center;
 height: 100vh;
 padding: 100px;
 padding-bottom: 0;
 background-attachment: fixed;
 background-position: center;
 background-image: url("../svg/background.svg");
 background-color: rgba(var(--main-page-accent));
}

.brand_new_header_line {
 margin-bottom: 0.1em;
 font-family: "Poppins";
 margin-top: 5px;
 font-size: 40px;
 font-weight: 800;
 line-height: 1em;
 text-align: left;
 text-transform: uppercase;
}

.gradient-blue {
 background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
 background-clip: border-box;
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}

.gradient-mint-blue {
 background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
}
.gradient-pink {
 background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
}

.grandient-blue {
 background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
 background-clip: border-box;
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
}

.brand_new_description {
 font-family: "Poppins";
 font-size: 21px;
 max-width: 65%;
 padding-bottom: 20px;
 line-height: 32px !important;
}

.brand_new_hero_grid {
 max-width: 80%;
 margin: 0 auto;
}

.link-button {
 margin-left: 0;
}

.stats {
 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 padding-top: 24px;
 padding-bottom: 24px;
 text-align: center;
 font-family: "Poppins";
 max-width: 80%;
 margin: 0 auto;
}

.stats_column_title {
 margin: 0;
}
.stats_collumn_small {
 text-align: left;
 margin: 0;
 padding: 0;
}
.stats_inner {
 display: flex;
 justify-content: space-between;
 *margin-right: -24px;
 *margin-left: -24px;
 width: 100%;
}
.text-white-fade {
 color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
 .brand_new_avatar {
  width: 180px;
  height: 180px;
 }
 .brand_new_header_line {
  font-size: 35px;
 }
 .brand_new_hero_small_title {
  font-size: 15px;
 }
 .brand_new_description {
  font-size: 19px;
 }
}

@media (max-width: 950px) {
 .brand_new_avatar {
  float: unset;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 144px;
  width: 144px;
 }
 .brand_new_description {
  max-width: 100%;
  text-align: center;
 }
 .brand_new_header_line {
  text-align: center;
 }
 .brand_new_hero_small_title {
  text-align: center;
  padding-top: 15px;
 }
 .center-buttons {
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
 }
}
@media (max-width: 650px) {
 .brand_new_hero_section {
  padding: 0;
 }
}
@media (max-width: 960px) {
 .stats_hide_first {
  display: none;
 }
 .stats_inner {
  justify-content: center;
 }
 .stats_column {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
 }
}
@media (max-width: 550px) {
 .stats_hide_two {
  display: none;
 }
}

.sparkles {
 animation: brightness 4s infinite;
}
@keyframes brightness {
 0% {
  filter: brightness(100%);
 }
 25% {
  filter: brightness(150%);
 }
 50% {
  filter: brightness(120%);
 }
 75% {
  filter: brightness(60%);
 }
 100% {
  filter: brightness(100%);
 }
}

.line_underline {
 border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}
