.grid-1,
.grid-2 {
 width: 45%;
 position: relative;
 border-radius: 5px;
 padding: 15px;
 box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
 background-color: var(--navbar);
}

.grid-1 {
 float: right;
 align-content: baseline;
}

.all {
 width: 100%;
 justify-content: center;
 display: flex;
 margin-bottom: 60px;
}

.content {
 display: block !important;
}

@media (max-width: 992px) {
 .highcharts-figure {
  margin: 0;
  margin-top: 20px;
 }
 .highcharts-root {
  margin: 0 !important;
 }
 .grid-1,
 .grid-2 {
  float: unset;
  width: 90% !important;
  margin: 0 auto;
 }
 .all {
  display: block;
 }
 .grid-2 {
  margin-bottom: 60px;
 }
 .link-button {
  float: unset !important;
 }
}

.server-image {
 margin: 0 auto;
 text-align: center;
 display: flex;
}

.server-name {
 text-align: center;
}

input {
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid #4b4f58;
 transition: 300ms all;
 padding: 10px;
 font-family: "Poppins";
 border-radius: 3px;
 width: 100%;
 height: 40px;
 font-size: 16px;
 color: rgb(220, 221, 222);
 outline: none;
}

input:disabled {
 opacity: 0.5;
 cursor: not-allowed;
}

input:focus {
 border-color: #5865f2;
}

.blue {
 background-color: rgb(88, 101, 242);
}

.blue:hover {
 background-color: rgb(71, 83, 197);
}

.stats {
 box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
 margin: 0 auto;
 background-color: var(--navbar);
}
.highcharts-background {
 fill: none;
}
.higharts-title {
 color: #fff !important;
 fill: #fff !important;
 font-family: "Poppins" !important;
}
.highcharts-credits {
 display: none;
}
.highcharts-axis-title {
 fill: #b9bbbe !important;
 font-family: Poppins !important;
}
.highcharts-yaxis-grid .highcharts-grid-line,
.highcharts-axis-line,
.highcharts-tick {
 stroke: rgb(64 71 82);
 stroke-width: 1.5;
}
.highcharts-axis-labels .highcharts-xaxis-labels {
 font-family: Poppins !important;
 fill: #b9bbbe;
 font-size: 12px;
}
.highcharts-legend-item .highcharts-line-series .highcharts-color-0 .highcharts-series-0 {
 font-family: "Poppins";
 fill: unset;
 stroke: unset;
 font-weight: 100;
}
.highcharts-tooltip .highcharts-tooltip-box {
 fill: #1e2125;
}
text {
 font-family: "Poppins";
 fill: #c0c0c0 !important;
}
.highcharts-axis-line {
 display: none !important;
}
.highcharts-point {
 stroke: none !important;
}
