.uptime {
 text-align: center;
 margin: 0;
 color: #dcdcdc;

 font-size: 18px;
}

@keyframes pulse_red {
 0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(237, 66, 69, 0.7);
 }
 70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(237, 66, 69, 0);
 }
 100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(237, 66, 69, 0);
 }
}
@keyframes pulse_yellow {
 0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(250, 168, 26, 0.7);
 }
 70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(250, 168, 26, 0);
 }
 100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(250, 168, 26, 0);
 }
}

@keyframes pulse_green {
 0% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(59, 165, 93, 0.7);
 }
 70% {
  transform: scale(1);
  box-shadow: 0 0 0 10px rgba(59, 165, 93, 0);
 }
 100% {
  transform: scale(0.95);
  box-shadow: 0 0 0 0 rgba(59, 165, 93, 0);
 }
}

.legend-wrapper {
 display: flex;
 flex-wrap: wrap;
 color: #fff;
 justify-content: center;
}
.legend {
 margin-top: 10px;
 margin-right: 20px;
 display: flex;

 font-size: 18px;

 justify-content: center;
 align-items: center;
}
.legend-marker {
 width: 10px;
 height: 10px;
 border-radius: 100px;
 margin-right: 12px;
}
.bg-success .legend-marker {
 background-color: rgb(59, 165, 93);
 animation: pulse_green 2s infinite;
}
.bg-warning .legend-marker {
 background-color: rgb(250, 168, 26);
 animation: pulse_yellow 2s infinite;
}
.bg-error .legend-marker {
 background-color: rgb(237, 66, 69);
 animation: pulse_red 2s infinite;
}
.bg-success {
 color: rgb(59, 165, 93);
}
.bg-warning {
 color: rgb(250, 168, 26);
}
.bg-error {
 color: rgb(237, 66, 69);
}
