.small_header {
 text-align: left;
}

.tos {
 padding: 20px 0px;
 margin: auto;
 margin-top: auto;
 margin-top: 60px;
 max-width: 800px;
 font-family: "Poppins";
}

ul,
li {
 list-style: unset;
 color: var(--text);
}
