.banner-container {
 width: 400px;
 display: block;
 padding: 10px;
 border-radius: 5px;
 background-repeat: no-repeat;
 background-position: 50%;
 background-size: cover;
 min-height: 200px;
}

.user-profile-image {
 box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.user-name {
 word-break: break-word;
 font-weight: 300;
}

.buttons-container {
 display: flex;
 align-items: center;
 justify-content: center;
}

.button-one {
 margin-right: 5px;
}

.button-two {
 margin-left: 5px;
}
