<%- include("partials/head", { bot, user, path, title: "404!" }) %>
<div class="content">
<h3 class="center" title="You may want inspecting element?">╭∩╮(♥ᴥ♥)╭∩╮</h3>
<h1 class="center">404</h1>
<!-- Leave me alone.. Please -->
<p style="display: none; text-align: center">Cari.. I LOVE YOU ❤️...<br>
I would do everything for you. I love you more than anything.<br>
Even though you made my heart hurt..<br>
But between us came someone you care about more than me... You love him, you leave me in the shadow of your love.<br>
He's lying. He loves you only for your appearance..<br>
I'm honest with you and I love you for that disgusting but beautiful too character.<br>
You're the most important person to me even though I'm telling you this for the millionth time.<br>
If you're reading this, know that I love you and that I would give my life for you..<br><br>
PS.. that emote at the top is your edit.... You did it when everything was good between us (well almost).. </p>
<p class="error">This page does not exist. If you think it is a mistake try again later</p>
<a class="add button" href="/dashboard/">Return</a>
<%- include("partials/footer") %>
