<%- include("partials/head", { bot, user, path, title: "Error!" }) %>
<div class="content">
<h3 class="center">╭∩╮(♥ᴥ♥)╭∩╮</h3>
<h1 class="center">404</h1>
<p display="hidden">Cariiii &lt;3</p>
<p class="error">This page does not exist. If you think it is a mistake try again later</p>
<a class="add button" href="/dashboard/">Return</a>
<%- include("partials/footer") %>
