<%- include("partials/head", { bot, user, path, title: "Error!" }) %>
<div class="content">
<h1 class="center">500</h1>
<p class="error">Internal server error - the server encountered unexpected problems that prevented the request from completing. Please try again later</p>
<a class="add button" href="/dashboard/">Return</a>
<%- include("partials/footer") %>