<%- include("partials/head", { bot, user, path, title: "Error!" }) %>
<div class="content">
<h1 class="center">T^T Error!</h1>
<p class="error">An error occurred while viewing this page, you may not have premissions to view it. If you think this is a mistake, please try again later.</p>
<a class="add button" href="/dashboard/">Return</a>

<%- include("partials/footer") %>