<%- include("partials/head", { bot, user, path, title: "Dashboard" }) %>
<div class="content">
<h3>Error! ;~;</h3>
<p class="error">An error occurred while viewing this page, you may not be authorized to view it. If you think this is a mistake, please try again later.</p>
<a class="add button" href="/dashboard/">Return</a>

<%- include("partials/footer") %>