<%- include("partials/head", { bot, user, path, title: "Privacy Policy" }) %>
<div class="content">
 <% function capitalize(string) { return string.charAt(0).toUpperCase() + string.slice(1); } %>
<h1 class="center"><%= capitalize(bot.user.username) %> Privacy Policy</h1>
Soon!