name: Node.js

on:
 push:
  branches: [master]
 pull_request:
  branches: [master]

jobs:
 build:
  runs-on: ubuntu-latest
  name: ✨ Node.js Tests
  strategy:
   matrix:
    node-version: [10.x, 12.x, 14.x]
  steps:
   - uses: actions/checkout@v2
   - name: ✨ Node.js ${{ matrix.node-version }}
     uses: actions/setup-node@v1
     with:
      node-version: ${{ matrix.node-version }}
   - run: npm run build --if-present
   - run: npm i
